* {
	box-sizing: border-box !important;
}

:root {
	padding: 1rem;
	margin: 0 auto;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

select,
input {
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}

body {
	margin: 0 auto;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	padding: 10px;
	width: 100%;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.format-title{
	text-transform: capitalize;
}

.configurator-container{
	max-width: 350px;
	margin: auto;
}

.part-selector{
	min-width: 250px;
}

.module-wrapper {
	width: 100%;
    max-width: 960px;
    clear: both;
	margin: auto;
	padding: 5px;
}

div.addProduct-wrapper{
	width: 100%;
	float: none;
	text-align: center;
	margin-bottom: 20px;
}

span.incompatibility-label-wrapper{
	display: flex;
	line-height: 33px;
}

.icon-btn-wrapper {
	display:inline;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: left;
	margin-bottom: 3px;
	width: 100%;
}

.searchBar-wrapper {
	display: block;
    position: relative;
    width: 100%;
    text-align: center;
}
.searchBar-wrapper>input {
	width: 100%;
	margin: 0 auto 25px auto;
	max-width: 500px;

}

.space-between-inline{
	display: inline-block;
}

span.add-detail-text {
	float: left;
    line-height: 40px;
}

a.add-detail-button {
	float: left;
    line-height: 40px;
    display: block;
    padding-top: 4px;
}

select.detail-selector {
	float: left;
}

input.text-specialprice{
	float: left;
}

.space-between-flex {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 3px;
	width: 100%;
}

.part-info-card {
	border-radius: 20px;
	padding: 20px 5px !important;
	margin: 5px;
	display: block;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	width: 20vw;
	min-height: 70vh;
	background-color: transparent;
}

.part-modal{
	z-index: 9999;
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
}

.part-modal-content-wrapper{
	margin: 10% auto 10% auto;
	border: solid 2px #FFF;
	border-radius: 16px;
	width: 80%;
	max-width: 900px;
	background-color: #000;
}

.add-part-to-cart{
	position: relative;

}

.part-modal-content{
	width: 100%;
	padding: 10px 20px;
	text-align: left;
}

.part-modal-content-details{
	min-height: 200px;
}

.part-modal-content-close-icon{
	color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: 2px;
    width: 30px;
    left: calc(100% - 32px);
    cursor: pointer;
    font-size: 19px;
    height: 30px;
    display: block;
}

.part-name{
	font-size: 16px;
	position: relative;
	display: block;
	font-weight: bold;
	width: 100%;
}

label.button{
	cursor: pointer;
}

.part-image{
	display: block;
	width: 100%;
}

.part-info-card-small {
	cursor: pointer;
	border-radius: 20px;
	padding: 5px !important;
	margin: 5px;
	justify-content: left;
	align-items: center;
	width: 16vw;
	min-height: 100px;
	max-height: 120vh;
	background-color: transparent;
	border: 0.1px solid black;
	overflow: hidden;
	overflow-y: visible;
}

.part-info-card-small p {
	margin: 0 0 0 10px;
}

.part-info-card-small img {
	border-radius: 5px;
}

.part-form {
	width: 15vw;
}

.part-form label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.part-form input,
.part-form select {
	width: 70%;
}

.title-with-icon {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.title-with-icon-nowrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
}


button.title-with-icon,
label.title-with-icon.button,
label.title-with-icon {
	border-radius: 10px;
	width: fit-content;
	padding: 5px 0px;
}

.add-color {
	color: #2ecc71;
}

.delete-color {
	color: #e74c3c;
}

.edit-color {
	color: #f39c12;
}

.dropdown {
	display: flex;
	flex-direction: row;
	flex-flow: row;
	flex-wrap: wrap;
}

h3{
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}

div.Cart-wrapper,
div.LoginForm-wrapper{
	margin: 0 5px;
	border: solid 1px #FFF;
	border-radius: 7px;
	float: left;
	min-width: 300px;
	min-height: 180px;
	width: calc(50% - 10px);
	padding: 5px 15px;
	filter: drop-shadow(3px 3px 7px #000000);
	background-color: #242424;
}

div.Cart-wrapper{
	float: right;
}

label.title-with-icon.button.process-payment{
	padding: 0 0 0 10px;
}

div.cart-detail-wrapper{
	position: relative;
    display: flex;
    max-height: 75px;
    overflow-y: auto;
    overflow-x: hidden;
}

div.cart-detail{
	width: 50%;
	font-size: 12px;
	
}

a.sign-in-link{
	padding-left: 10px;
	font-size: 14px;
}

div.sign-in-wrapper{
	border-radius: 15px;
	position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 5px 15px;
    background-color: #242424;
}

div.cart-detail-parts{
	width: 100%;
	padding-left: 2px;;
}
div.cart-detail-configs{
	width: 190px;
	border-right: dotted 1px #fff;

}
div.cart-detail>label.title-with-icon{
	padding:0;
}
div.cart-detail>label>svg{
	float:left
}
div.cart-detail>label>span{
	float:left
}


img {
	border-radius: 20px;
}

.part-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin-top: 25px;
}

@media (max-width: 700px) {
	.title-with-icon-nowrap {
		flex-wrap: wrap;
	}

	.part-info-card {
		width: 90vw;
		min-height: 40vh;
	}

	.part-info-card-small {
		width: 90vw;
	}

	.part-form {
		width: 90vw;
	}

	form.title-with-icon {
		flex-direction: column;
		align-items: start;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}